{% extends 'base.html.twig' %}


{% block body %}

    <!-- Form for deleting movienight -->
    <div class="container margin-top-20">
        <div class="row justify-content-around">
            <div class="col-lg-5 text-center">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="h3 font-weight-normal no-margin">Eintrag löschen</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.time) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.location) }}
                            {{ form_rest(form) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            <button type="submit" class="btn btn-danger btn-spacing btn-size-form">
                                Löschen
                            </button>
                            <a href="{{ path('movie_night_list_all') }}">
                                <button type="button" class="btn btn-secondary btn-spacing btn-margin btn-size-form">
                                    Abbruch
                                </button>
                            </a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}