{% extends 'base.html.twig' %}

{% block title %}Termin bearbeiten{% endblock %}

{% block body %}

    <!-- Form for editing movienight (date, time, location) -->
    <div class="container margin-top-20">
        <div class="row justify-content-around">
            <div class="col-lg-5 justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h3 font-weight-normal no-margin text-center">
                            Termin bearbeiten
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.time) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            {{ form_widget(form.location) }}
                            {{ form_rest(form) }}
                        </div>
                        <div class="row justify-content-center margin-top-20">
                            <button type="submit" class="btn btn-secondary btn-spacing btn-size-form">
                                Speichern
                            </button>
                            <a href="{{ path('list_movienight') }}">
                                <button type="button" class="btn btn-outline-secondary btn-spacing btn-margin btn-size-form">
                                    Abbruch
                                </button>
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}