{% extends 'base.html.twig' %}

{% block title %}MovieTime - Log in{% endblock %}

{% block body %}

<!-- Login form -->
<div class="row justify-content-center margin-top-20">
    <div class="jumbotron text-center">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'login.message'|trans }}</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <hr class="my-4">

            <p>
                <label for="inputUsername" class="sr-only">{{ 'login.username'|trans }}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="{{ 'login.username'|trans }}" required autofocus>
            </p>
            <p>
                <label for="inputPassword" class="sr-only">{{ 'login.password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'login.password'|trans }}" required>
            </p>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-md btn-primary" type="submit">
                {{ 'login.signin'|trans }}
            </button>
        </form>
    </div>
</div>

{% endblock %}
