{% extends 'base.html.twig' %}

{% block title %}T-Eve{% endblock %}

{% block body %}
<p>
    <div class="container">
        <div class="row justify-content-around">

            <div class="col-lg-5 text-center">
                <div class="jumbotron">
                    <i class="{{ 'af.logo.movie'|trans }} fa-10x" aria-hidden="true"></i>
                    <p>{{ 'home.next'|trans }}</p>
                    <h1>{{ 'navigation.movienight'|trans }}</h1>
                </div>
            </div>

            <div class="col-lg-5 text-center">
                <div class="jumbotron">
                    <i class="{{ 'af.logo.game'|trans }} fa-10x" aria-hidden="true"></i>
                    <p>{{ 'home.next'|trans }}</p>
                    <h1>{{ 'navigation.gamenight'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
</p>
{% endblock %}
