{% extends 'base.html.twig' %}

{% block title %}MovieTime! - Passwort ändern{% endblock %}

{% block body %}

<div class="container margin-top-20">
    <div class="row justify-content-center">
        <div class="card text-center">
            <div class="card-header">
                <h3 class="h3 font-weight-normal no-margin">
                    Passwort ändern:
                </h3>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                Altes Passwort:
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'text-center'}}) }}
                <hr class="my-4" />
                Neues Passwort:
                {{ form_errors(form.newPassword.first) }}
                {{ form_widget(form.newPassword.first, {'attr': {'class': 'text-center'}}) }}
                {{ form_widget(form.newPassword.second, {'attr': {'class': 'margin-top-5 text-center'}}) }}
                <button type="submit" class="btn btn-sm btn-secondary margin-top-20 tab-button">
                    Ändern
                </button>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('user_edit', {'user': user.id}) }}">
                        <button type="button" class="btn btn-sm btn-outline-secondary margin-top-20 tab-button">
                            Abbruch
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('movie_night_list_all') }}">
                        <button type="button" class="btn btn-sm btn-outline-secondary margin-top-20 tab-button">
                            Abbruch
                        </button>
                    </a>
                {% endif %}
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}